{
	"name": "player",
	"components": {
		"1" : {
			"type": "Rigidbody",
			"collider_type": "box",
			"radius": 0.45,
			"density": 0.5,
			"trigger_radius": 0.55
		},
		"2": {
			"type": "PhoneControls"
		},
		"3": {
			"type": "SpriteRenderer",
			"sprite": "sandy"
		}
	}
}