{
    "name": "Secret",
    "components": {
        "0": {
            "type": "CollectSecretOnTouch"
        },
        "1": {
            "type": "Transform"
        },
        "3": {
            "type": "SpriteRenderer",
            "sprite": "ticket",
            "auto_sorting_order": true
        }
    }
}